<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We will be right back!</h1>
    <p>Sorry we are performing some maintenance!</p>
  </body>
</html>
